<!DOCTYPE html>
<html lang="en">

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Maps Head -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/assets/css/stylemap.css">
	<script src="./assets/script/map.js"></script>

	<title>Vicinity</title>
</head>

<body>
	<!-- NAVIGATION BAR SECTION =======-->
	<nav>
		<div class="nav-wrapper lime">
			<div class="container">
				<a href="#" class="brand-logo left">Logo</a>
				<ul id="nav-mobile" class="right">
					<li>
						<a href="whatisvicinity">What is Vicinity?</a>
					</li>
					<li>
						<a href="aboutus">About Us</a>
					</li>
					<li>
						<a href="profile">My Profile</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	{{{ body }}}

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="../public/assets/script/logic.js"></script>

</body>

</html>