<!DOCTYPE html>
<html lang="en">
<head>
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Vicinity Home</title>
</head>
<body>
   <!-- NAVIGATION BAR SECTION =======-->
   <nav>
      <div class="nav-wrapper lime">
         <div class="container">
         <a href="#" class="brand-logo left">Logo</a>
         <ul id="nav-mobile" class="right">
               <li>
               <a href="sass.html">Account</a>
               </li>
               <li>
               <a href="badges.html">What is Vicinity?</a>
               </li>
               <li>
               <a href="collapsible.html">About Us</a>
               </li>
         </ul>
         </div>
      </div>
   </nav>
   <br>
   <br>

   {{{ body }}}

    <!-- FOOTER SECTION =======-->
   <footer class="page-footer lime">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
         <h5 class="white-text">Helping you find the right neighborhood.</h5>
         <p class="grey-text text-lighten-4">Vicinity is committed to providing the most up to date and accurate information about your current or future neighborhood.
            We provide search tools that will help you make the right choice such as: Emergency response.
            <br> Crime rate.
            <br> Nearby sex offenders.
            <br>
         </p>
         </div>
         <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Developers</h5>
         <ul>
            <li>
               <a class="blue-grey-darken-3-text" href="#!">Xavier Oberti</a>
            </li>
            <li>
               <a class="blue-grey-darken-3-text" href="#!">Victor Montemayor</a>
            </li>
            <li>
               <a class="blue-grey-darken-3-text" href="#!">Steven Aruba</a>
            </li>
            <li>
               <a class="blue-grey-darken-3-text" href="#!">Peter Le</a>
            </li>
            <li>
               <a class="blue-grey-darken-3-text" href="#!">David Bierma</a>
            </li>
            <li>
               <a class="blue-grey-darken-3-text" href="#!">David Morales</a>
            </li>
         </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container center">
         © 2018 Copyright Text
      </div>
   </div>
   </footer>
</body>
</html>