<section class="ourTeam">
	<div class="container">
		<div class="row">
			<div class="col s3">
				<img src="http://via.placeholder.com/250x250" alt="">
					<h5>Xavier Oberti</h5>
					<h6>Full Stack Developer</h6>
			</div>
			<div class="col s1"></div>
			<div class="col s3">
				<img src="http://via.placeholder.com/250x250" alt="">
				<h5>Peter Le</h5>
				<h6>Full Stack Developer</h6>
			</div>
			<div class="col s1"></div>
			<div class="col s3">
				<img src="http://via.placeholder.com/250x250" alt="">
				<h5>Victor Montemayor</h5>
				<h6>Full Stack Developer</h6>
			</div>
		</div>
		<div class="row">
			<div class="col s3">
				<img src="http://via.placeholder.com/250x250" alt="">
				<h5>David Morales</h5>
				<h6>Full Stack Developer</h6>
			</div>
			<div class="col s1"></div>
			<div class="col s3">
				<img src="http://via.placeholder.com/250x250" alt="">
				<h5>Steven Aruba</h5>
				<h6>Full Stack Developer</h6>
			</div>
			<div class="col s1"></div>
			<div class="col s3">
				<img src="http://via.placeholder.com/250x250" alt="">
				<h5>David Bierma</h5>
				<h6>Full Stack Developer</h6>
			</div>
		</div>
	</div>
</section>

<!-- FOOTER SECTION =======-->
<footer class="page-footer lime">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Helping you find the right neighborhood.</h5>
				<p class="grey-text text-lighten-4">Vicinity is committed to providing the most up to date and accurate information about your current or future neighborhood.
					We provide search tools that will help you make the right choice such as:  
					<br> Crime rate.
					<br>
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Developers</h5>
				<ul>
					<li>
						<a class="blue-grey-darken-3-text" href="#!">Xavier Oberti</a>
					</li>
					<li>
						<a class="blue-grey-darken-3-text" href="#!">Victor Montemayor</a>
					</li>
					<li>
						<a class="blue-grey-darken-3-text" href="#!">Steven Aruba</a>
					</li>
					<li>
						<a class="blue-grey-darken-3-text" href="#!">Peter Le</a>
					</li>
					<li>
						<a class="blue-grey-darken-3-text" href="#!">David Bierma</a>
					</li>
					<li>
						<a class="blue-grey-darken-3-text" href="#!">David Morales</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container center">
			© 2018 Copyright Vicinity
		</div>
	</div>
</footer>