    <br>
    <br>
    <!-- forms to enter data crime data-->
    <div class="row">
        <div class="col 6 md">
            <div class="panel panel-default" style="float:left; clear:both;">
                <div class="crimeTableHead">
                    <h4 class="panel-title" style="text-align:center;">Report a Crime</h4>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="crime">
                                <div class="input-field col s12">

                                    <select id="type">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">Theft</option>
                                        <option value="2">Burglary</option>
                                        <option value="3">Robbery</option>
                                        <option value="4">Assualt</option>
                                        <option value="3">Motor Vehicle Theft</option>
                                    </select>

                                    <label>Type of Crime</label>
                                </div>Location:</label>
                            <input type="text" class="form-control" id="location">   </div>
                        <div class="form-group">
                            <label for="date">Date:</label>
                            <input type="text" class="form-control" id="date">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>

                            <input type="text" class="form-control" id="description">

                        </div>

                        <button type="submit" class="btn btn-default" id="submitBtn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        </form>
    </div>
    </div>
    </div>
    </div>
    <br>
    <br>

</html>