<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vicinity Home</title>
</head>

<body>

  <!-- NAVIGATION BAR SECTION =======-->
  <nav>
    <div class="nav-wrapper lime">
      <div class="container">
        <a href="#" class="brand-logo left">Logo</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="sass.html">Account</a>
          </li>
          <li>
            <a href="badges.html">What is Vicinity?</a>
          </li>
          <li>
            <a href="collapsible.html">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>

  <div class="row">
    <!--PROFILE SECTION =============================-->
    <div class="col s4">
      <section class="col s12">
        <div class="card" id="profile">
          <div class="card-image">
            <img src="images/team2.jpg">
            <span class="card-title">Profile</span>
          </div>
          <div class="card-content">
            <p>Address</p>
          </div>
        </div>
      </section>
    </div>

    <!-- RESULT TABLE ================================-->
    <div class="col s8">
      <section class="col s12" id="resultsTable">
        <div id="crimeRate" class='mytable'>

          <div class="crimeTableHead">
            <h5 class="crimeHeader" style="text-align:center;">Crime Rate</h5>
          </div>

          <div class="crimeTableBody">
            <table class="responsive-table highlight">
              <thead>
                <tr>
                  <th>Crime</th>
                  <th>Location</th>
                  <th>Date</th>
                  <th>Description</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
  <br>
  <br>



  <div class="row">
    <div class="col s4">
      <!--SUBMIT BUTTON======================================================-->
      <button id="submitBtn" class="btn waves-effect waves-light blue-grey" type="submit" name="action" style="max-width:200px; margin-left:190px;">Report Crime
        <i class="material-icons right">send</i>
      </button>
    </div>

    <div class="col s8">
        <div id="firstResponders" class='mytable'>
            <div class="crimeTableHead">
              <h5 class="crimeHeader" style="text-align:center">First Responders</h5>
            </div>
            <div class="crimeTableBody">
              <table class="responsive-table highlight">
                <thead>
                  <tr>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zipcode</th>
                    <th>Department Type</th>
                    <th>Phone</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
  </div>
  

  <!-- FOOTER SECTION =======-->
  <footer class="page-footer lime">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Helping you find the right neighborhood.</h5>
          <p class="grey-text text-lighten-4">Vicinity is committed to providing the most up to date and accurate information about your current or future neighborhood.
            We provide search tools that will help you make the right choice such as: Emergency response.
            <br> Crime rate.
            <br> Nearby sex offenders.
            <br>
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Developers</h5>
          <ul>
            <li>
              <a class="blue-grey-darken-3-text" href="#!">Xavier Oberti</a>
            </li>
            <li>
              <a class="blue-grey-darken-3-text" href="#!">Victor Montemayor</a>
            </li>
            <li>
              <a class="blue-grey-darken-3-text" href="#!">Steven Aruba</a>
            </li>
            <li>
              <a class="blue-grey-darken-3-text" href="#!">Peter Le</a>
            </li>
            <li>
              <a class="blue-grey-darken-3-text" href="#!">David Bierma</a>
            </li>
            <li>
              <a class="blue-grey-darken-3-text" href="#!">David Morales</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        © 2018 Copyright Text
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="./assets/script/logic.js"></script>
</body>

</html>