<br>
<br>
<div class="container">
   <div class="row">
      <div class="col 6 md grey lighten-4">
         <div class="panel-heading">
            <h4 class="panel-title">REPORT A CRIME</h4>
         </div>
         <div class="panel-body col s12">
            <form role="form">
               <div class="input-field col s12">
                  <input id="posttype" type="text" class="validate">
                  <label for="posttype" class="center-align">Time of Crime</label>
               </div>
               <div class="input-field col s12">
                  <input id="poststreet" type="text" class="validate">
                  <label for="poststreet" class="center-align">Street Address</label>
               </div>
               <div class="input-field col s12">
                  <input id="postcity" type="text" class="validate">
                  <label for="postcity" class="center-align">City</label>
               </div>
               <div class="input-field col s12">
                  <input id="poststate" type="text" class="validate">
                  <label for="poststate" class="center-align">State</label>
               </div>
               <div class="input-field col s12">
                  <input id="postzip" type="text" class="validate">
                  <label for="postzip" class="center-align">Zip Code</label>
               </div>
               <div class="input-field col s12">
                  <input id="postdate"type="text" class="datepicker">
                  <label for="postdate">Date of incident</label>
               </div>
               <div class="input-field col s12">
                  <input id="posttime" type="text" class="timepicker">
                  <label for="posttime">Time of incident</label>
               </div>
               <div class="input-field col s12">
                  <textarea id="postdescription" class="materialize-textarea"></textarea>
                  <label for="postdescription">Crime Description</label>
               </div>
               <div class="report-btn">
                     <button id="sendCrimeReport" class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                     </button>
               </div>
            <br>
            </form>
         </div>
      </div>
   </div>
</div>
