<h3>So what is Vicinity?</h3>

<p>We at Vicinity sensed a need to make available a more user friendly resource to track crime in our city.<br>
We provide the user with a better alternative than what is currently out there by providing a great experience <br>
for our users.  We provide this through the ease of use of our site, as well as making information readily<br>
available to our users all in one place, making us the 'go-to' resource for all crime related needs. Our <b>
database provides valuable information to people looking to relocate on crime statistics so the user can <b>
make an informed choice.
</b>
</p>