<h3 style="text-align:center;"> What is Vicinity?</h3>

<div class="container">
<p>We at Vicinity sensed a need to make available a more user friendly resource to track crime in our city.<br>
We provide the user with a better alternative than what is currently out there by providing a great experience <br>
for our users.  We provide this through the ease of use of our site, as well as making information readily<br>
available to our users all in one place, making us the 'go-to' resource for all crime related needs. Our <b>
database provides valuable information to people looking to relocate on crime statistics so the user can <b>
make an informed choice.
</b>
</p>
</div>

<!-- FOOTER SECTION =======-->
<footer class="page-footer lime">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Helping you find the right neighborhood.</h5>
                <p class="grey-text text-lighten-4">Vicinity is committed to providing the most up to date and accurate information about your current or future
                    neighborhood. We provide search tools that will help you make the right choice such as:
                    <br> Crime rate.
                    <br>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Developers</h5>
                <ul>
                    <li>
                        <a class="blue-grey-darken-3-text" href="#!">Xavier Oberti</a>
                    </li>
                    <li>
                        <a class="blue-grey-darken-3-text" href="#!">Victor Montemayor</a>
                    </li>
                    <li>
                        <a class="blue-grey-darken-3-text" href="#!">Steven Aruba</a>
                    </li>
                    <li>
                        <a class="blue-grey-darken-3-text" href="#!">Peter Le</a>
                    </li>
                    <li>
                        <a class="blue-grey-darken-3-text" href="#!">David Bierma</a>
                    </li>
                    <li>
                        <a class="blue-grey-darken-3-text" href="#!">David Morales</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2018 Copyright Vicinity
        </div>
    </div>
</footer>