*{
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;        
    background-color: #e6e6e6;
    background-image: url(../images/NetCity.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;
}

main {
    flex: 1 0 auto;
}

.mytable{
    background-color: white;
}

.crimeTableHead{
    background-color: gray;
    padding: 1px;
}

.crimeTableBody{
    padding: 0px 15px;
}

.card .card-title {
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

#reportCrime {
    margin-top: 30px;
    width: 100%;
}

#searchCrime {
    margin-top: 30px;
    width: 100%;
}

#loglogo {
    width: 50%;
    height: auto;
}

#login-page {
    width: 100%;
    margin-left: auto;
    display: inline-block;

    animation-name: moveInLeft;
    animation-duration: 2s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

#registry_page {
    width: 80%;
    margin-left: 30%;
    margin-right: 30%;

    animation-name: moveInLeft;
    animation-duration: 2s;
}

.slogan {
    font-family: "Lato", sans-serif;
    color: #ffffff;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;

    animation-name: moveInRight;
    animation-duration: 3s;

    backface-visibility: hidden;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.report_btn {
    display: flex;
    justify-content: center;
}