*{
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;        
    background-color: #e6e6e6;
    background-image: url(../images/NetCity.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;
}

main {
    flex: 1 0 auto;
}

#loglogo {
    width: 50%;
    height: auto;
}

.mytable{
    background-color: white;
}

.crimeTableHead{
    /* background-color: gray; */
    padding: 1px;
    margin-top: 7px;
}

.crimeTableBody{
    padding: 0px 15px;
}

.card .card-title {
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.card .card-image .card-title{
    padding: 5px;
}

.card .aboutName {
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

i .votes{
    font-size: 1rem;
}

#reportCrime {
    margin-top: 30px;
    width: 100%;
}

#searchCrime {
    margin-top: 30px;
    width: 100%;
}

#profileCard {
    margin-top: 0px;
}

#whatisvicinity {
    opacity: .7;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
}
#loglogo {
    width: 50%;
    height: auto;
}

#navbarlogo {
    width:30%;
    height: auto;
    margin-top: 6px;
}

#login-page {
    margin-left: 15px;
    margin-right: 15px;

    animation-name: moveInLeft;
    animation-duration: 2s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.slogan {
    font-family: "Lato", sans-serif;
    color: #ffffff;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;

    animation-name: moveInRight;
    animation-duration: 3s;

    backface-visibility: hidden;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

